<!-- About Section -->
    <section id="certification">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Certificaciones</h2>
                    <!--h3 class="section-subheading text-muted">Certificaciones</h3-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/certifications/cmcp.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019</h4>
                                    <h4 class="subheading">Soporte Vital Avanzado Pediátrico</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Consejo Mexicano de Certificación en Pediatría, A.C.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/certifications/cmcp.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019</h4>
                                    <h4 class="subheading">Soporte Vital Básico</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Consejo Mexicano de Certificación en Pediatría, A.C.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/certifications/cmoyt.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018</h4>
                                    <h4 class="subheading">Ortopedia y Traumatología</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Colegio Morelense de Ortopedia y Traumatología.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/certifications/smop.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Ortopedia Pediátrica</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sociedad Mexicana de Ortopedia y Traumatología A.C.</p>
                                </div>
                            </div>
                        </li>
						<li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/certifications/femcot.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Ortopedia y Traumatología</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Federación Mexicana de Colegios de Ortopedia y Traumatología A.C. (FEMCOT)</p>
                                </div>
                            </div>
                        </li>
						<li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/certifications/cmeoyt.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">Ortopedia y Traumatología</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Consejo Mexicano de Ortopedia y Traumatología, A.C.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!-- <h4>Kenia
                                    <br>nació
                                    <br>1984!</h4> -->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
