<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dra. Kenia Pereida Pérez</h2>
                    <h3 class="section-subheading text-muted">Ortopedia y Trumatología especializada en Pediatría.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/UNAM.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2014</h4>
                                    <h4 class="subheading">Subespecialidad en Ortopedia Pediátrica</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Universidad Nacional Autónoma de México (UNAM)</p>
                                    <p class="text-muted">Hospital Shriners para Niños, México</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/UNAM.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2013</h4>
                                    <h4 class="subheading">Especialidad en Ortopedia</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Universidad Nacional Autónoma de México (UNAM)</p>
                                  <p class="text-muted">Instituto Nacional de Rehabilitación. Secretaría de salud.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/UAEM.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2002-2006</h4>
                                    <h4 class="subheading">Médico Cirujano</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Universidad Autónoma del Estado de Morelos (UAEM)</p>
                                    <p class="text-muted">Facultad de Medicina</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!-- <h4>Kenia
                                    <br>nació
                                    <br>1984!</h4> -->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
