<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Agregar un texto aquí.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Tratamiento del pie equino varo aducto</h4>
                    <!-- <p class="text-muted">Lorem.</p> -->
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Tratamiento de fracturas y luxaciones</h4>
                    <!-- <p class="text-muted">Lorem.</p> -->
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Tratamiento de alteraciones del crecimiento</h4>
                    <!-- <p class="text-muted">Lorem.</p> -->
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Detección temprana y tratamiento de la displasia del desarrollo de cadera </h4>
                    <!-- <p class="text-muted">Lorem.</p> -->
                </div>
            </div>
        </div>
    </section>
